<div class="text-center" *ngIf="!this.isLoggedIn">
<form [formGroup]="form" class="form-signin">
  <fieldset>
      <legend class="h3 mb-3 font-weight-normal">Enter your credentials:</legend>
      <div class="form-field">
          <label for="inputUserName" class="sr-only">Username:</label>
          <input id="inputUserName" placeholder="username" name="username" formControlName="username">
      </div>
      <div class="form-field">
          <label for="Password" class="sr-only">Password:</label>
          <input id="Password" name="password" placeholder="password" formControlName="password"
                 type="password">
      </div>
  </fieldset>
  <div class="form-buttons">
      <button class="btn btn-sm btn-primary"
              (click)="login()">Login</button>
  </div>
</form>
</div>
<div *ngIf = "this.isLoggedIn">
  <button class="btn btn-sm btn-primary" (click)="logout()">Log out</button>
</div>
